body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.de-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.de-header__container {
  max-width: 935px;
  width: 80%;
  height: 54px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.de-header__logo {
  height: 50%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.de-header__logo-border {
  width: 1px;
  height: 90%;
  background: #dbdbdb;
}

.de-header__input {
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
}

.de-header__input::placeholder {
  text-align: center;
}

.de-header__nav {
  color: #000;
  font-size: 20px;
}

.de-header__nav ion-icon {
  margin-left: 12px;
}

.de-content {
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 38px;
}

.de-feed {
  width: 614px;
}

.de-post {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 60px;
}

.de-post__image {
  width: 100%;
}

.de-post__header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 17px;
  gap: 15px;
}

.de-post__header img:first-child {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.de-post__header span {
  flex-grow: 1;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.de-post__interactions {
  display: flex;
  padding: 13px 17px;
}

.de-post__main-interactions {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.de-post__interactions ion-icon {
  width: 20px;
  height: 20px;
}

.de-post__likes {
  padding: 0 17px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 13px;
}

.de-post__likes img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.de-post__likes span {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.de-stories {
  display: flex;
  gap: 14px;
  background-color: #fff;
  margin-bottom: 24px;
  padding: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.de-story {
  width: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.de-story__thumbnail {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/stories_background.jpg");
  background-size: cover;
  margin-bottom: 5px;
}

.de-story span {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.de-story__thumbnail img {
  width: 56px;
  height: 56px;

  border-radius: 50%;
}

.de-story__scroll-button {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.de-story__scroll-button ion-icon {
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.de-aside {
  width: 300px;
}

.de-aside__container {
  position: sticky;
  top: 91px;
}

.de-aside__user-preview {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-top: 22px;
  margin-bottom: 20px;
}

.de-aside__user-profile h1 {
  font-weight: bold;
  margin-bottom: 2px;
}

.de-aside__user-profile h2 {
  font-weight: normal;
  color: #8e8e8e;
}

.de-aside__suggestions:first-child {
  display: flex;
}

.de-aside__suggestions .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.de-aside__suggestions .title h3 {
  font-weight: 500;
  font-size: 12px;
  color: #8e8e8e;
}

.de-aside__suggestions .title span {
  font-weight: 500;
  font-size: 12px;
  color: #262626;
}

.de-aside__suggestions {
  margin-bottom: 33px;
}

.de-aside__suggestions ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.de-aside__suggestions ul li {
  display: flex;
  gap: 11px;
}

.de-aside__suggestions ul li img {
  width: 32px;
  height: 32px;
}

.de-aside__suggestions ul li div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.de-aside__suggestions ul li div h1 {
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}

.de-aside__suggestions ul li div h2 {
  font-weight: normal;
  font-size: 12px;
  color: #8e8e8e;
}

.de-aside__suggestions ul li h4 {
  color: #139ef2;
  font-weight: 500;
  font-size: 12px;
  align-self: center;
}

.de-aside__copyright {
  color: #c7c7c7;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.de-aside__copyright p:first-child {
  margin-bottom: 18px;
}

@media (max-width: 935px) {
  .de-aside {
    display: none;
  }

  .de-content {
    justify-content: center;
  }
}

@media (max-width: 614px) {
  .de-header__container,
  .de-content,
  .de-feed {
    width: 100%;
  }

  .de-header__container {
    justify-content: center;
  }

  .de-header__input,
  .de-header__nav,
  .de-story__scroll-button {
    display: none;
  }

  .de-stories {
    background: none;
    border: none;
    margin-bottom: 8px;
  }

  .de-content {
    margin-top: 48px;
  }
}
