.de-content {
  max-width: 935px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 38px;
}

@media (max-width: 935px) {
  .de-content {
    justify-content: center;
  }
}

@media (max-width: 614px) {
  .de-content {
    margin-top: 17px;
    width: 100%;
  }
}
